name: Release

on:
  push:
    tags:
      - 'v*.*.*'
      - 'v*.*.*-*'

env:
  CARGO_TERM_COLOR: always

jobs:
  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      version: ${{ steps.get_version.outputs.version }}
    
    steps:
    - name: Get version from tag
      id: get_version
      run: echo "version=${GITHUB_REF#refs/tags/}" >> "$GITHUB_OUTPUT"
    
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        release_name: Luma ${{ steps.get_version.outputs.version }}
        draft: false
        prerelease: ${{ contains(github.ref, '-') }}

  build-and-upload:
    name: Build and Upload to Release
    needs: create-release
    uses: ./.github/workflows/build-binaries.yml
    with:
      create_archives: true
      upload_to_release: true
      release_upload_url: ${{ needs.create-release.outputs.upload_url }}
    permissions:
      contents: write
